# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\yasasw\Downloads\elements-modak-one-page-html-template-LLV6QGD-2p3eOdXi-12-01\modak-main\modak\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
